In [1]:
import pandas as pd

In [12]:
df=pd.read_csv("imdb.csv")

In [15]:
df.head(10)

,Movie_Title,YR_Released,Rating,Num_Reviews,Movie_ID,Record,Runtime
0,Code Name: K.O.Z.,2015,1.4,24623,tt4458206,Bottom 250 Movies,114.0
1,Saving Christmas,2014,1.5,12765,tt4009460,Bottom 250 Movies,80.0
2,Superbabies: Baby Geniuses 2,2004,1.6,26505,tt0270846,Bottom 250 Movies,88.0
3,Daniel the Wizard,2004,1.6,13295,tt0421051,Bottom 250 Movies,81.0
4,Manos: The Hands of Fate,1966,1.7,31808,tt0060666,Bottom 250 Movies,70.0
5,Pledge This!,2006,1.7,15836,tt0417056,Bottom 250 Movies,91.0
6,Dünyayi Kurtaran Adam'in Oglu,2006,1.8,14110,tt0808240,Bottom 250 Movies,110.0
7,Foodfight!,2012,1.8,5740,tt0249516,Bottom 250 Movies,91.0
8,Birdemic: Shock and Terror,2010,1.8,15919,tt1316037,Bottom 250 Movies,105.0
9,Álom.net,2009,1.9,8502,tt1309000,Bottom 250 Movies,NaN

In [14]:
df.tail()

,Movie_Title,YR_Released,Rating,Num_Reviews,Movie_ID,Record,Runtime
845,Pirates of the Caribbean: The Curse of the Bla...,2003,8.0,872441,tt0325980,Top 250 Movies,143.0
846,What Ever Happened to Baby Jane?,1962,8.0,37906,tt0056687,Top 250 Movies,134.0
847,"Paris, Texas",1984,8.0,55587,tt0087884,Top 250 Movies,145.0
848,Drishyam,2015,8.0,40777,tt4430212,Top 250 Movies,163.0
849,PK,2014,8.0,106375,tt2338151,Top 250 Movies,153.0

In [7]:
df.columns

Index(['Movie_Title', 'YR_Released', 'Rating', 'Num_Reviews', 'Movie_ID',
       'Record', 'Runtime'],
      dtype='object')

In [10]:
df.shape

(850, 7)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie_Title  850 non-null    object
 1   YR_Released  850 non-null    int64
 2   Rating       850 non-null    float64
 3   Num_Reviews  850 non-null    int64
 4   Movie_ID     850 non-null    object
 5   Record       850 non-null    object
 6   Runtime      849 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 46.6+ KB

In [23]:
#Information in rows 15 and 25 of columns "Movie_Title", "Rating"
print(df[5:20][["Movie_Title","Rating"]])

                        Movie_Title  Rating
5                      Pledge This!     1.7
6     Dünyayi Kurtaran Adam'in Oglu     1.8
7                        Foodfight!     1.8
8        Birdemic: Shock and Terror     1.8
9                          Álom.net     1.9
10   Titanic - La leggenda continua     1.9
11                   Disaster Movie     1.9
12                    Zombie Nation     1.9
13          The Hottie & the Nottie     1.9
14       Keloglan Karaprens'e Karsi     1.9
15             From Justin to Kelly     1.9
16                     A Fox's Tale     1.9
17  Ram Gopal Varma's Indian Flames     1.9
18                  Going Overboard     2.0
19         Emret Komutanim: Sah Mat     2.0

In [29]:
#The data in the "Movie_title" and "Rating" columns with a rating value greater than 9.0 are



print(df[df["Rating"]>=9.0][["Movie_Title","Rating"]])

                  Movie_Title  Rating
100  The Shawshank Redemption     9.2
101             The Godfather     9.2
102    The Godfather: Part II     9.0
103           The Dark Knight     9.0
600  The Shawshank Redemption     9.2
601             The Godfather     9.2
602    The Godfather: Part II     9.0
603           The Dark Knight     9.0

In [33]:
#The names of the films with a release date between Dec 2016 and 2018


print(df[(df["YR_Released"]>=2016) & (df["YR_Released"]<=2018)][["Movie_Title","YR_Released"]])

                        Movie_Title  YR_Released
51             Kyaa Kool Hain Hum 3         2016
55                         Smolensk         2016
176                     Baby Driver         2017
206                      La La Land         2016
207                           Logan         2017
217                   Hacksaw Ridge         2016
265          Spider-Man: Homecoming         2017
297                            Lion         2016
302                        Zootopia         2016
303  Guardians of the Galaxy Vol. 2         2017
340                        Deadpool         2016
354                          Dangal         2016
367     Baahubali 2: The Conclusion         2017
389                            Pink         2016
401                          Sairat         2016
427                         Airlift         2016
443                    Hindi Medium         2017
451                     Udta Punjab         2016
454                   Kapoor & Sons         2016
464                          Neerja         2016
473    M.S. Dhoni: The Untold Story         2016
474                The Ghazi Attack         2017
475                              24         2016
488                   Saala Khadoos         2016
502                         Madaari         2016
507                    Dear Zindagi         2016
530                Raman Raghav 2.0         2016
545                     Jolly LLB 2         2017
546                            Te3n         2016
550                Nannaku Prematho         2016
565                           Wazir         2016
578                Sanam Teri Kasam         2016
579                The Great Father         2017
586                          Sultan         2016
587                          Rustom         2016
592                          Kaabil         2017
670                          Dangal         2016
691                   Kimi no na wa         2016
729                     Baby Driver         2017
739                      La La Land         2016
747                           Logan         2017
761                   Hacksaw Ridge         2016

In [36]:
"""Num_Revies 'Movie_Title', 'Rating', 'Num_Reviews' columns for movies with a rating greater than 100000 or
a rating score between 8.0 and 9.0 The 'Movie_Title', 'Rating', 'Num_Reviews' columns Decode the"""


print(df[(df["Num_Reviews"]>=100000)|((df["Rating"]>=8.0)&(df["Rating"]<=9.0))][['Movie_Title','Rating','Num_Reviews']])

                                           Movie_Title  Rating  Num_Reviews
100                           The Shawshank Redemption     9.2      1829037
101                                      The Godfather     9.2      1249333
102                             The Godfather: Part II     9.0       860228
103                                    The Dark Knight     9.0      1808543
104                                       12 Angry Men     8.9       497242
..                                                 ...     ...          ...
845  Pirates of the Caribbean: The Curse of the Bla...     8.0       872441
846                   What Ever Happened to Baby Jane?     8.0        37906
847                                       Paris, Texas     8.0        55587
848                                           Drishyam     8.0        40777
849                                                 PK     8.0       106375

[573 rows x 3 columns]

In [34]:
df.columns

Index(['Movie_Title', 'YR_Released', 'Rating', 'Num_Reviews', 'Movie_ID',
       'Record', 'Runtime'],
      dtype='object')