In [1]:
import pandas as pd

In [2]:
customers = {
    'Id': [1, 2, 3],
    'FistName': ["xxxx", "yyyy", "zzzz"],
    'LastName': ["aaaa", "bbbb", "cccc"]
}

orders = {
    'OrderNo': [1001, 1002, 1003, 1004, 1005],
    'Id': [1, 2, 3, 4, 5],
    "OrderDate": ["2022-08-01", "2021-02-12", "2012-12-14", "2008-02-13", "2016-04-12"]
}

In [6]:
df_customer = pd.DataFrame(customers, columns=["Id", "FistName", "LastName"])
df_orders = pd.DataFrame(orders, columns=['OrderId', 'Id', 'OrderDate'])

In [7]:
df_customer

   Id FistName LastName
0   1     xxxx     aaaa
1   2     yyyy     bbbb
2   3     zzzz     cccc

In [8]:
df_orders

   OrderId  Id   OrderDate
0     1001   1  2022-08-01
1     1002   2  2021-02-12
2     1003   3  2012-12-14
3     1004   4  2008-02-13
4     1005   5  2016-04-12

In [9]:
inner_result = pd.merge(df_customer, df_orders, how="inner")          #Gives the intersection of the data
print(inner_result)

   Id FistName LastName  OrderId   OrderDate
0   1     xxxx     aaaa     1001  2022-08-01
1   2     yyyy     bbbb     1002  2021-02-12
2   3     zzzz     cccc     1003  2012-12-14

In [10]:
outer_result = pd.merge(df_customer, df_orders, how="outer")     #Gives all the data
print(outer_result)

   Id FistName LastName  OrderId   OrderDate
0   1     xxxx     aaaa     1001  2022-08-01
1   2     yyyy     bbbb     1002  2021-02-12
2   3     zzzz     cccc     1003  2012-12-14
3   4      NaN      NaN     1004  2008-02-13
4   5      NaN      NaN     1005  2016-04-12

In [11]:
left_result = pd.merge(df_customer, df_orders, how="left")  #The intersection of the data and the left gives the entire data
print(left_result)

   Id FistName LastName  OrderId   OrderDate
0   1     xxxx     aaaa     1001  2022-08-01
1   2     yyyy     bbbb     1002  2021-02-12
2   3     zzzz     cccc     1003  2012-12-14

In [13]:
right_result = pd.merge(df_customer, df_orders, how="right")#The intersection of the data and the right gives the entire data
print(right_result)

   Id FistName LastName  OrderId   OrderDate
0   1     xxxx     aaaa     1001  2022-08-01
1   2     yyyy     bbbb     1002  2021-02-12
2   3     zzzz     cccc     1003  2012-12-14
3   4      NaN      NaN     1004  2008-02-13
4   5      NaN      NaN     1005  2016-04-12