In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("vgsalesGlobale.csv")
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [3]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [4]:
df.drop(['Rank'], axis=1, inplace=True)

In [5]:
df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [6]:
#The best-selling game and the amount of sales

df[df["Global_Sales"]==df["Global_Sales"].max()][["Name","Global_Sales"]]

         Name  Global_Sales
0  Wii Sports         82.74

In [7]:
#The top 10 best-selling games and the amount of sales

df.sort_values("Global_Sales",ascending=False)[["Name","Global_Sales"]].head(10)

                        Name  Global_Sales
0                 Wii Sports         82.74
1          Super Mario Bros.         40.24
2             Mario Kart Wii         35.82
3          Wii Sports Resort         33.00
4   Pokemon Red/Pokemon Blue         31.37
5                     Tetris         30.26
6      New Super Mario Bros.         30.01
7                   Wii Play         29.02
8  New Super Mario Bros. Wii         28.62
9                  Duck Hunt         28.31

In [8]:
#How many different game publishers are there

len(df["Publisher"].unique())

579

In [9]:
#The games that game publishers sell the most and the amount of sales

df.groupby("Publisher").max().sort_values("Global_Sales",ascending=False)[["Name","Global_Sales"]]

,Name,Global_Sales
Publisher,,
Nintendo,Zero: Tsukihami no Kamen,82.74
Microsoft Game Studios,Zoo Tycoon: Complete Collection,21.82
Take-Two Interactive,Zathura,21.40
Sony Computer Entertainment,inFAMOUS: Second Son,14.98
Activision,iCarly 2: iJoin The Click!,14.76
...,...,...
UIG Entertainment,Farming 2017 - The Simulation,0.01
Stainless Games,Carmageddon: Max Damage,0.01
Epic Games,Paragon,0.01
New World Computing,Empire Deluxe,0.01
Naxat Soft,Naxat Soft Reachmania Vol. 1: CR Galaxy Angel,0.01

In [10]:
#Which games have sold more in JP_Sales compared to NA_Sales


df[(df["JP_Sales"]>df["NA_Sales"])][["Name","Genre","JP_Sales","NA_Sales"]]

,Name,Genre,JP_Sales,NA_Sales
26,Pokemon Black/Pokemon White,Role-Playing,5.65,5.57
27,Brain Age 2: More Training in Minutes a Day,Puzzle,5.32,3.44
41,Animal Crossing: Wild World,Simulation,5.33,2.55
66,Final Fantasy VII,Role-Playing,3.28,3.01
73,Animal Crossing: New Leaf,Simulation,4.36,2.01
...,...,...,...,...
16575,Neo Angelique Special,Adventure,0.01,0.00
16580,Real Rode,Adventure,0.01,0.00
16587,Mezase!! Tsuri Master DS,Sports,0.01,0.00
16589,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,Action,0.01,0.00
16590,Eiyuu Densetsu: Sora no Kiseki Material Collec...,Role-Playing,0.01,0.00

In [11]:
#Games with the word sports in the name


df[df["Name"].str.contains("Sports")]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
139,Kinect Sports,X360,2010.0,Sports,Microsoft Game Studios,3.92,1.78,0.03,0.51,6.24
303,EA Sports Active,Wii,2009.0,Sports,Electronic Arts,2.10,1.36,0.06,0.40,3.92
313,Sports Champions,PS3,2010.0,Sports,Sony Computer Entertainment,2.12,1.14,0.10,0.51,3.87
...,...,...,...,...,...,...,...,...,...,...
15653,Disney Sports Basketball,GBA,2002.0,Sports,Konami Digital Entertainment,0.01,0.00,0.00,0.00,0.02
15661,Disney Sports Football,GC,2002.0,Sports,Konami Digital Entertainment,0.01,0.00,0.00,0.00,0.02
15820,Winter Sports 3: The Great Tournament,X360,2010.0,Sports,Tradewest,0.00,0.01,0.00,0.00,0.02
15954,IHRA Drag Racing: Sportsman Edition,XB,2006.0,Racing,Bethesda Softworks,0.01,0.00,0.00,0.00,0.02
16564,Original Frisbee Disc Sports: Ultimate & Golf,DS,2007.0,Action,"Destination Software, Inc",0.01,0.00,0.00,0.00,0.01

In [17]:
#Application of functions on data

def StrFind(name: str):
    if "sports" in name.lower():
        return True
    else:
        return False

df[df["Name"].apply(StrFind)]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
139,Kinect Sports,X360,2010.0,Sports,Microsoft Game Studios,3.92,1.78,0.03,0.51,6.24
303,EA Sports Active,Wii,2009.0,Sports,Electronic Arts,2.10,1.36,0.06,0.40,3.92
313,Sports Champions,PS3,2010.0,Sports,Sony Computer Entertainment,2.12,1.14,0.10,0.51,3.87
...,...,...,...,...,...,...,...,...,...,...
15653,Disney Sports Basketball,GBA,2002.0,Sports,Konami Digital Entertainment,0.01,0.00,0.00,0.00,0.02
15661,Disney Sports Football,GC,2002.0,Sports,Konami Digital Entertainment,0.01,0.00,0.00,0.00,0.02
15820,Winter Sports 3: The Great Tournament,X360,2010.0,Sports,Tradewest,0.00,0.01,0.00,0.00,0.02
15954,IHRA Drag Racing: Sportsman Edition,XB,2006.0,Racing,Bethesda Softworks,0.01,0.00,0.00,0.00,0.02
16564,Original Frisbee Disc Sports: Ultimate & Golf,DS,2007.0,Action,"Destination Software, Inc",0.01,0.00,0.00,0.00,0.01