In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.DataFrame(np.random.randn(4,3),index=["A","B","C","D"],columns=["column1","column2","column3"])
print(df)

    column1   column2   column3
A  1.433660  1.568211  1.709311
B  0.071798 -0.783502  2.738703
C  1.470852  0.768433 -0.199380
D -0.865064 -2.272943 -1.123261

In [5]:
print(df.column1)

A    1.433660
B    0.071798
C    1.470852
D   -0.865064
Name: column1, dtype: float64

In [7]:
print(df.describe())

        column1   column2   column3
count  4.000000  4.000000  4.000000
mean   0.527811 -0.179950  0.781343
std    1.134010  1.702977  1.758950
min   -0.865064 -2.272943 -1.123261
25%   -0.162418 -1.155862 -0.430350
50%    0.752729 -0.007535  0.754965
75%    1.442958  0.968377  1.966659
max    1.470852  1.568211  2.738703

In [8]:
print(df.shape)

(4, 3)

In [9]:
print(df.loc["C"])

column1    1.470852
column2    0.768433
column3   -0.199380
Name: C, dtype: float64

In [16]:
print(df.loc["C","column2"])

0.7684327718323102

In [17]:
print(df.loc[["B","C"],"column2"])

B   -0.783502
C    0.768433
Name: column2, dtype: float64

In [13]:
print(df.loc[:,["column1","column3",]])

    column1   column3
A  1.433660  1.709311
B  0.071798  2.738703
C  1.470852 -0.199380
D -0.865064 -1.123261

In [20]:
print(df.iloc[-2])

column1    1.470852
column2    0.768433
column3   -0.199380
Name: C, dtype: float64

In [21]:
df["column4"]=df["column1"]+df["column3"]
print(df)

    column1   column2   column3   column4
A  1.433660  1.568211  1.709311  3.142971
B  0.071798 -0.783502  2.738703  2.810501
C  1.470852  0.768433 -0.199380  1.271471
D -0.865064 -2.272943 -1.123261 -1.988325

In [23]:
df.drop("column3",inplace=True,axis=1)
print(df)

    column1   column2   column4
A  1.433660  1.568211  3.142971
B  0.071798 -0.783502  2.810501
C  1.470852  0.768433  1.271471
D -0.865064 -2.272943 -1.988325

In [24]:
df.drop("B",inplace=True,axis=0)
print(df)

    column1   column2   column4
A  1.433660  1.568211  3.142971
C  1.470852  0.768433  1.271471
D -0.865064 -2.272943 -1.988325