In [10]:
import numpy as np
import pandas as pd

In [20]:
data=np.random.randint(10,1000,12).reshape(4,3)
df=pd.DataFrame(data, index=["A","B","C","D"],columns=["column1","column2","column3"])
print(df)

   column1  column2  column3
A      867      715      122
B      437      942      915
C      945      638      263
D      932      116      318

In [50]:
df["column4"]=[423,np.nan,23,765]
df["column5"]=[789,np.nan,495,np.nan]
df

   column1  column2  column3  column4  column5
A      867      715      122    423.0    789.0
B      437      942      915      NaN      NaN
C      945      638      263     23.0    495.0
D      932      116      318    765.0      NaN

In [51]:
"""The "Nan" values in the data set are filled with the "True" and False" values"""


print(df.isnull())

   column1  column2  column3  column4  column5
A    False    False    False    False    False
B    False    False    False     True     True
C    False    False    False    False    False
D    False    False    False    False     True

In [52]:
"""Gives the sum of the number of "Nan" values in the columns"""

print(df.isnull().sum())

column1    0
column2    0
column3    0
column4    1
column5    2
dtype: int64

In [53]:
"""Gives the sum of the number of non-"Nan" values in the columns"""

print(df.notnull().sum()["column4"])

3

In [54]:
"""Makes the "Nan" values found in the data 500"""

df=df.fillna(value=500)
print(df)

   column1  column2  column3  column4  column5
A      867      715      122    423.0    789.0
B      437      942      915    500.0    500.0
C      945      638      263     23.0    495.0
D      932      116      318    765.0    500.0

In [55]:
"""We deleted the lines with "Nan" value in the data"""

df=df.dropna()
print(df)

   column1  column2  column3  column4  column5
A      867      715      122    423.0    789.0
B      437      942      915    500.0    500.0
C      945      638      263     23.0    495.0
D      932      116      318    765.0    500.0